body {
    text-align: center;
    margin: auto;
    background: lightgrey;
    color: yellow;
   background-image: url(Images/clipboard.jpg);
}


input {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;

}

textarea {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;
}

select {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;
}

input[type="submit"]{
    background-color: black;
    color: white;
}