body {
    text-align: center;
    margin: auto;
    background: lightgrey;
   
}


input {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;

}

textarea {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;
}

select {
    border-radius: 30px;
    text-align: center;
    background-color: antiquewhite;
}